EsquemasXML/src/Canciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Canciones" type="CancionesType"/>
  <xs:complexType name="CompositorType">
    <xs:sequence>
      <xs:element name="Nombres">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Santiago"/>
            <xs:enumeration value="YNW Melly"/>
            <xs:enumeration value="AURORA"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Apellido" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompositoresType">
    <xs:sequence>
      <xs:element type="CompositorType" name="Compositor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductorType">
    <xs:sequence>
      <xs:element name="Nombres">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Juan"/>
            <xs:enumeration value="SMKEXCLSV"/>
            <xs:enumeration value="Magnus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Apellidos" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Campodónico"/>
            <xs:enumeration value="Skylstad"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductoresType">
    <xs:sequence>
      <xs:element type="ProductorType" name="Productor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancionType">
    <xs:sequence>
      <xs:element name="Duracion">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4:19"/>
            <xs:enumeration value="4:30"/>
            <xs:enumeration value="4:12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Anio">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2012"/>
            <xs:enumeration value="2018"/>
            <xs:enumeration value="2022"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Titulo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Enamorado tuyo"/>
            <xs:enumeration value="Murder on my mind"/>
            <xs:enumeration value="Exist for love"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="CompositoresType" name="Compositores"/>
      <xs:element type="ProductoresType" name="Productores"/>
      <xs:element name="Sello">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Warner Music Argentina"/>
            <xs:enumeration value="300 Entertainment"/>
            <xs:enumeration value="Decca Records"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Artista">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Cuarteto de Nos"/>
            <xs:enumeration value="YNW Melly"/>
            <xs:enumeration value="AURORA"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancionesType">
    <xs:sequence>
      <xs:element type="CancionType" name="Cancion" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>